body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-container{

    background: #fff;
    -webkit-box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
    box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
}

.navbar-container li{
  padding: 2px;
  font-size: 18px;
  margin: 5px 0 0 0;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
}
.navbar-container li:hover{
  background-color: #1fe5ff;
}
.navbar-container li a{
  color: #050748 !important;
}

.styled-btn{
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins,sans-serif;
    padding: 0 40px;
    line-height: 56px;
    text-align: center;
    outline: 0;
    color: #fff;
    background-color: #ff1f8e;
    border: none;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 10px 15px 0 rgb(233 30 99 / 15%);
    box-shadow: 0 10px 15px 0 rgb(233 30 99 / 15%);
}
.styled-btn-info{
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins,sans-serif;
    padding: 0 40px;
    line-height: 56px;
    text-align: center;
    outline: 0;
    color: #fff;
    background-color: #1fe5ff;
    border: none;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0 10px 15px 0 rgb(0 78 175 / 20%);
    box-shadow: 0 10px 15px 0 rgb(0 78 175 / 20%);
    
}
.styled-btn-bg{
    background: #ffbd84;
    background: -moz-linear-gradient(left,#ffbd84 0,#ff1f8e 100%);
    background: -webkit-linear-gradient(left,#ffbd84 0,#ff1f8e 100%);
    background: linear-gradient(to right,#ffbd84 0,#ff1f8e 100%);
    -webkit-box-shadow: 0 10px 15px 0 rgb(175 0 87 / 20%);
    box-shadow: 0 10px 15px 0 rgb(175 0 87 / 20%);
}
.styled-btn-bg-info{
    background: #ffbd84;
    background: -moz-linear-gradient(left,#ffbd84 0,#ff1f8e 100%);
    background: -webkit-linear-gradient(left,#ffbd84 0,#ff1f8e 100%);
    background: linear-gradient(to right,#84ffeb 0,#454188 100%);
    -webkit-box-shadow: 0 10px 15px 0 rgb(0 78 175 / 20%);
    box-shadow: 0 10px 15px 0 rgb(0 78 175 / 20%);
}

.counter-no{
  font-size: 40px;
  font-weight: 500;
  color: #050748;
}
.counter-no-p {
  font-size: 18px;
  margin: 5px 0 0 0;
  font-weight: 500;
}

.contact-container{
    background: #d6fffc;
    background: -moz-linear-gradient(top,#d6fffc 0,#ffeff5 100%);
    background: -webkit-linear-gradient(top,#d6fffc 0,#ffeff5 100%);
    background: linear-gradient(to bottom,#d6fffc 0,#ffeff5 100%);
}

.blog-section img{
  border-radius: 5px;
}

.client-caption{
  background-color: rgba(1, 95, 72, 0.308);
  border-radius: 10px;
}
.client-header{
    font-family: Poppins,sans-serif;
    color: #050748;
    font-weight: 600;
}

.aboutme-container{

}
.aboutme-container li{
  list-style-type:none;
  text-align:left;
  margin-left: 50px;
}

.aboutme-header{
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom: 2px dashed rgba(53, 0, 0, 0.2);
    padding-bottom: 10px;
}
.aboutme-header a{
  text-decoration: none;
}
.line-left{
    width: 2px;
    height: 100%;
    background-color: #e1e1e1;
    left: -10px;
    top: 0;
    position: absolute;
}
.line-left ::before{
  content: "";
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
    position: absolute;
    left: -4px;
    top: -10px;
}

.line-left ::after{
  top: 100%;
}

.footer-container{
    background: #fffdf2;
    padding: 80px 0;
}

.social-container a{
    text-decoration: none;
    color: rgb(0, 54, 54);
}